h1 /* Title */
{
	font-size: 3em;
	font-weight: 600;
	text-align: center;
}

#root /* Main content, containing the 4 buttons for the basic movements */
{
	display: flex;
	flex-direction: row;
	height: 90vh;
}
#root button /* Style for buttons */
{
	flex: 2;
	font-size: 4em;
}

#root > div /* Block with forward and backward buttons */
{
	flex: 3;
	display: flex;
	flex-direction: column;
}